parameters:
    level: max

    paths:
        - ecs.php
        - packages

    excludePaths:
        - packages/reveal-neon/src/Generator/local-temp
        - packages/reveal-neon/tests/Rules/AnalyzeNeonRule/Source
        - packages/twig-phpstan-compiler/tests/TwigToPhpCompiler/Source
        - packages/phpstan-twig-rules/tests/Rules/TwigCompleteCheckRule/Source
        - packages/*/tests/*/Fixture*
        - '*/Source/*'

    ignoreErrors:
        - '#Method Reveal\\(.*?)Test\:\:provideData\(\) return type has no value type specified in iterable type Iterator#'

        # BC promise
        - '#(.*?) interface PHPStan\\Rules\\Rule but does not specify its types\: TNodeType#'

        - '#(.*?) is not covered by backward compatibility promise\. The (.*?) might change in a minor PHPStan version#'

        # known type in tests
        -
            message: '#Cannot cast mixed to string#'
            path: packages/twig-phpstan-compiler/tests/TwigToPhpCompiler/

        # lost autoload?
        - '#Class PhpCsFixer\\Fixer\\PhpUnit\\PhpUnitStrictFixer not found#'
