parameters:
    level: max

    paths:
        - ecs.php
        - packages

    excludePaths:
        - packages/reveal-neon/src/Generator/local-temp
        - packages/reveal-neon/tests/Rules/AnalyzeNeonRule/Source
    ignoreErrors:
        - '#Method Reveal\\(.*?)Test\:\:provideData\(\) return type has no value type specified in iterable type Iterator#'

        # generics mash-up
        - '#Method Reveal\\RevealNeon\\Rules\\AnalyzeNeonRule\:\:__construct\(\) has parameter \$rules with generic interface PHPStan\\Rules\\Rule but does not specify its types\: TNodeType#'

        # BC promise
        - '#PHPStan\\Rules\\Registry(.*?) is not covered by backward compatibility promise\. The (.*?) might change in a minor PHPStan version#'
        - '#Calling PHPStan\\DependencyInjection\\DerivativeContainerFactory\:\:create\(\) is not covered by backward compatibility promise\. The method might change in a minor PHPStan version#'
        - '#Calling PHPStan\\Analyser\\FileAnalyser(.*?) is not covered by backward compatibility promise\. The (.*?) might change in a minor PHPStan version#'
