<div class="output">
    <p>{$someString|stripHtml}</p>
    <p>{$someString|striphtml}</p>
    <p>{$someString|stripTags}</p>
    <p>{$someString|striptags}</p>
    <p>{$someString|strip}</p>
    <p>{$someString|indent}</p>
    <p>{$someString|repeat, 10}</p>
    <p>{$someString|replace, 'from', 'to'}</p>
    <p>{$someString|trim}</p>
</div>
