# builds the content of https://github.com/rectorphp/rector
# inspiration from https://github.com/phpstan/phpstan-src/blob/master/.github/workflows/phar.yml
name: Build Scoped Reveal

on:
    push:
        branches:
            - main
        tags:
            - '*'

jobs:
    build_scoped_reveal:
        runs-on: ubuntu-latest
        timeout-minutes: 10

        steps:
            # this should not happen on create a tag, so wait first
            -
                uses: actions/checkout@v3
                with:
                    fetch-depth: 0

            -
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.1
                    coverage: none

                # see https://github.com/shivammathur/setup-php#composer-github-oauth
                env:
                    COMPOSER_TOKEN: ${{ secrets.ACCESS_TOKEN }}

            -   run: composer install --no-dev --ansi

            # 1. copy files to $NESTED_DIRECTORY directory Exclude the scoped/nested directories to prevent rsync from copying in a loop
            -  run: rsync --exclude reveal-build -av * reveal-build --quiet

            -  run: rm -rf reveal-build/packages/latte-phpstan-compiler/tests reveal-build/packages/reveal-latte/tests reveal-build/packages/reveal-twig/tests reveal-build/packages/template-phpstan-compiler/tests reveal-build/packages/twig-phpstan-compiler/tests

            # 2. downgrade
            -   run: php -d memory_limit=-1 vendor/bin/rector process reveal-build/bin reveal-build/config reveal-build/src reveal-build/packages reveal-build/vendor --config build/config/rector-downgrade.php --ansi

            # 3. prefix classes
            -   run: sh build/build-reveal-scoped.sh reveal-build reveal-prefixed-downgraded

            # 4. lint the code for PHP 7.2 - this must happen here, as setup-php allows only one PHP version switch: https://github.com/shivammathur/setup-php/issues/434
            -
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 7.2
                    coverage: none
            -   run: composer global require php-parallel-lint/php-parallel-lint
            -   run: /home/runner/.composer/vendor/bin/parallel-lint reveal-prefixed-downgraded --exclude reveal-prefixed-downgraded/stubs --exclude reveal-prefixed-downgraded/vendor/tracy/tracy/examples --exclude reveal-prefixed-downgraded/vendor/rector/rector-generator/templates --exclude reveal-prefixed-downgraded/vendor/symfony/contracts/Cache --exclude reveal-prefixed-downgraded/vendor/symfony/contracts/HttpClient/Test

            # 5. copy repository meta files
            -   run: |
                    cp -R build/target-repository/. reveal-prefixed-downgraded
                    cp -R templates reveal-prefixed-downgraded/
                    cp CONTRIBUTING.md reveal-prefixed-downgraded/
                    cp preload.php reveal-prefixed-downgraded/

            # 6. clone remote repository, so we can push it
            -
                uses: "actions/checkout@v3"
                with:
                    repository: revealphp/reveal
                    path: remote-repository
                    token: ${{ secrets.ACCESS_TOKEN }}

            # remove remote files, to avoid piling up dead code in remote repository
            -   run: rm -rf remote-repository/.github remote-repository/config remote-repository/src remote-repository/packages remote-repository/vendor

            -   run: cp -a reveal-prefixed-downgraded/. remote-repository

            # 7. setup git
            -
                working-directory: remote-repository
                run: |
                    git config user.email "tomas.vot@gmail.com"
                    git config user.name "Tomas Votruba"

            # commit metadata
            -
                name: "Get Git log"
                id: git-log
                run: echo ::set-output name=log::$(git log ${{ github.event.before }}..${{ github.event.after }} --reverse --pretty='%H %s' | sed -e 's/^/https:\/\/github.com\/rectorphp\/rector-src\/commit\//')

            # 8.A publish it to remote repository without tag
            -
                name: "Commit Prefixed - main"
                working-directory: remote-repository
                if: "!startsWith(github.ref, 'refs/tags/')"
                run: |
                    git add --all
                    git commit -m "Updated Rector to commit ${{ github.event.after }}" -m "${{ steps.git-log.outputs.log }}"
                    git push --quiet origin main

            # 8.B publish it to remote repository with tag
            -
                name: "Commit Prefixed - tag"
                working-directory: remote-repository
                if: "startsWith(github.ref, 'refs/tags/')"
                run: |
                    git add --all
                    git commit -m "Rector ${GITHUB_REF#refs/tags/}" -m "${{ steps.git-log.outputs.log }}"
                    git push --quiet origin main
                    git tag ${GITHUB_REF#refs/tags/} -m "${GITHUB_REF#refs/tags/}"
                    git push --quiet origin ${GITHUB_REF#refs/tags/}

            # run bare run test
            -   run: cd remote-repository && bin/reveal --ansi && cd ..
